@media (max-width: 430px) {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 2.9rem;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    font-size: var(--size-sm);
  }

  #light {
    color: var(--color-neutral-950);
    border-color: var(--color-green-400);
    background-color: var(--color-green-200);
  }

  #dark {
    color: var(--color-neutral-100);
    border-color: var(--color-green-800);
    background-color: var(--color-green-900);
  }
}
