.dateInput {
  display: flex;
  height: var(--size-2lg, 48px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.dateInput > input {
  display: flex;
  height: var(--size-2lg, 48px);
  min-width: 95px;
  max-width: 110px;
  padding: 0px var(--size-xs, 12px);
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-self: stretch;
  border-radius: var(--xs, 12px);
  border: 1.4px solid var(--placeholder, #929292);
  background: var(--input-default-background, #fefefe);
}

.dateInput > span {
  color: var(--placeholder, #929292);
}