.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.radio > input {
  display: flex;
  width: var(--size-md, 24px);
  height: var(--size-md, 24px);
  padding: 8px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  border: 2px solid var(--placeholder, #929292);
}
