.inputContainer {
  display: flex;
  justify-content: center;
  height: var(--size-2lg, 48px);
  width: 100%;
  border-radius: var(--size-xs, 12px);
  border: 1.4px solid var(--placeholder);
  margin-bottom: 8px;
}

.input {
  height: 100%;
  width: 91%;
  font-size: var(--size-sm);
}

.input::placeholder {
  font-size: var(--size-sm);
}

.inputContainer#light {
  background: var(--input-light-default-background);
}

.inputContainer#dark {
  background: var(--input-dark-default-background);
}

.inputContainer#light > .input {
  color: var(--primary-light-text);
}

.inputContainer#dark > .input {
  color: var(--primary-dark-text);
}