/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/*Variáveis*/
:root {
    --text-sm: 16px;
    --text-md: 24px;
    --text-lg: 48px;
    --color-green-200:#C8FFBF;
    --color-green-400:#00FB22;
}

/* Seletores universais */
*, body, main,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 100vh;
    width: 100%;
}

/* Elementos de layout */
html {
    scroll-behavior: smooth;
}

/* Elementos de conteúdo */
body {
  border: none;
  background-color: #fefefe;
  font-family: Sora;
}

h1, h2, h3, h4, h5, h6 {
    color: #080808;
}

/* Listas */
ul, ol {
    list-style: none;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Formulários */
button, input, select, textarea {
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background: none;
}

/* Botões */
button {
    cursor: pointer;
}

/* Tabelas */
table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Seções de layout */
header, footer, aside, main, nav, section, article {
    display: block;
}

/* Ajustes para elementos de formulário */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/* Ajustes para campos 'select' */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    padding: 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Ajustes para elementos 'button' */
button {
    cursor: pointer;
}

/* Ajustes para elementos de formulário desabilitados */
[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

/* Ajustes para elementos de formulário ativados */
[enabled] {
    cursor: pointer;
}
