@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import './reset.css';

/*variáveis*/
:root {
    /*tamanhos*/
    --text-sm: 16px;
    --text-md: 24px;
    --text-lg: 48px;
    --text-xl: 72px;
    /*cores*/
    --color-bg-100: #FEFEFE;
    --color-bg-200: #EDEDED;
    --color-bg-300: #C9C9C9;
    --color-bg-600: #484848;
    --color-bg-800: #242424;
    --color-bg-850: #161616;
    --color-bg-950: #080808;

    --color-green-100: #F1FFEA;
    --color-green-200: #C8FFBF;
    --color-green-300: #A2FF7B;
    --color-green-400: #00FB22;
    --color-green-800: #008F0E;
    --color-green-900: #003E03;
    --color-green-950: #012001;

    --color-blue-300: #93C7EB;
    --color-blue-400: #0072C3;
    --color-blue-800: #00538F;
}

