.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 80%;
}

.mainContent > div > h3 {
  font-size: var(--size-md);
  font-weight: 600;
  margin-bottom: var(--size-md);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
  margin-top: var(--size-md);
}

.inputs > button {
  display: flex;
  align-items: center;
  justify-content: stretch;
  height: var(--size-2lg);
  width: 100%;
  font-size: var(--size-sm);
  gap: var(--size-md);
  padding: 4px var(--size-sm, 16px);
  border-radius: var(--size-xs);
}

.line {
  display: inline-flex;
  width: 8.5rem;
  height: 1px;
  border: 1px var(--placeholder) solid
}

.divisorInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*light dark*/ 

.mainContent#light > div >  h3, .mainContent#light > div> p {
  color: var(--primary-light-text);
}

.mainContent#dark > div > h3, .mainContent#dark > div> p {
  color: var(--primary-dark-text);
}

.mainContent#light > div > .inputs > button {
  color: var(--primary-light-text);
  border: 1.4px solid var(--stroke-light);
}

.mainContent#dark > div > .inputs > button {
  color: var(--primary-dark-text);
  border: 1.4px solid var(--stroke-dark);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-xs);
  width: 100%;
}
