.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 85%;
  width: 100%;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.forms > h3 {
  font-size: var(--size-md);
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

label {
  font-size: var(--size-2xs);
}

.radioList {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: stretch;
  gap: var(--size-xs, 12px);
}

