@media (max-width: 464px) {
  .containerImg {
    width: 300px;
  }

  .img {
    width: 300px;
    border-radius: 20px;
    margin: 0 16px 0 16px;
  }

  li > .react-multi-carousel-item {
    width: auto;
  }
}