@media (max-width: 464px) {
  .carousel {
    height: 340px;
    margin: var(--size-sm) 0 var(--size-sm) 0;
  }

  .item {
    box-sizing: border-box;
    width: 100% !important;
    margin: 0 var(--size-sm) 0 var(--size-sm);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img {
    border-radius: 20px;
    width: 340px;
  }
}
