.header {
  height: 4rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.logoLight {
  height: 37px;
  width: 37.12px;
}

.nav {
  width: 6rem;
  display: flex;
  justify-content: space-between;
}