.h3 {
	font-size: var(--size-md);
	font-weight: 600;
	letter-spacing: 0.24px;
}

.p {
	margin-top: 1.5rem;
	font-size: var(--size-sm);
	font-weight: 400;
	line-height: 20.16px;
}

#light .h3 {
	color: var(--color-neutral-950);
}

#dark .h3 {
	color: var(--color-neutral-100);
}

#light .p {
	color: var(--color-neutral-600);
}

#dark .p {
	color: var(--color-neutral-300);
}
