.dashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 144px;
  width: 100vw;
  padding: var(--size-2xl) var(--size-3md) var(--size-md) var(--size-3md);
}

#light > .header {
  background: var(--background-light-tertiary);
}

#dark > .header {
  background: var(--background-dark-tertiary);
}

.userName {
  font-size: var(--size-sm);
  font-weight: 600;
}

.userOcupation {
  font-weight: 400;
}

.bottomMenu {
  display: flex;
  height: 80px;
  width: 100vw;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px -67px 19px 0px rgba(0, 0, 0, 0),
    0px -43px 17px 0px rgba(0, 0, 0, 0.02),
    0px -24px 14px 0px rgba(0, 0, 0, 0.06),
    0px -11px 11px 0px rgba(0, 0, 0, 0.1), 0px -3px 6px 0px rgba(0, 0, 0, 0.12);
}

.bottomMenu > button {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
