.loginRegistration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  height: 100vh;  
  width: 100vw;
  padding: 4rem var(--size-3md);
  overflow: hidden;
}

#light {
  color: var(--primary-light-text);
}

#dark{
  color: var(--primary-dark-text);
}