.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 75%;
}

.mainContent > .content {
  display: flex;
  flex-direction: column;
  gap: var(--size-md, 24px);
  align-self: stretch;
}

.mainContent > div > h3 {
  font-size: var(--size-md);
  font-weight: 600;
}

.emailPrev {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: var(--size-2lg, 48px);
  width: 100%;
  padding: 0px var(--size-xs);
  border-radius: var(--size-xs, 12px);
  border: 1.4px solid var(--placeholder);
  margin-bottom: 8px;
}

#light .emailPrev {
  color: var(--light-highlight);
}

#dark .emailPrev {
  color: var(--dark-highlight);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-md);
  width: 100%;
}
