.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 3rem 2rem;
}

.sectionContent:nth-last-child(2) {
  padding: 3rem 2rem 3rem 2rem;
}

.sectionContent:nth-last-child(3) {
  padding: 0 2rem 3rem 2rem;
}

.gradientArrow {
  width: 9.55rem;
  height: 9rem;
  margin-bottom: 2rem;
}

#light .sectionDivisorOne {
  background-color: var(--background-light-primary);
}

#dark .sectionDivisorOne {
  background-color: var(--background-light-primary);
}

.sectionDivisorTwo {
  padding-bottom: 20px;
}

#light .sectionDivisorTwo {
  background-color: var(--background-light-secondary);
}

#dark .sectionDivisorTwo {
  background-color: var(--background-dark-secondary);
}

#light .sectionDivisorThree {
  background-color: var(--background-light-quarternary);
}

#dark .sectionDivisorThree {
  background-color: var(--background-dark-quarternary);
}