.h3 {
  font-size: var(--text-md);
  font-weight: 700;
  line-height: 30.24px;
}
 
.p {
  margin-top: 1.5rem;
  font-size: var(--text-sm);
  font-weight: 400;
  line-height: 20.16px;
  color: #484848;
}