.header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem 0 2.5rem;
}

.logoHeader {
  height: 2.5rem;
  width: 2.5rem;
}

.nav {
  width: 6rem;
  display: flex;
  justify-content: space-between;
}