.header {
  height: 4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLight {
  height: 2.5rem;
  width: 2.5rem;
}

.nav {
  width: 6rem;
  display: flex;
  justify-content: space-between;
}