@media (max-width: 480px) {
  .image {
    border-radius: 15px;
  }
  
  .item {
    display: flex !important;
    justify-content: center !important;
  }
  
  .container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -32px;
    margin-right: -32px;
    padding: 0 32px;
  }
}