@media (max-width: 480px) {
  .sectionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--size-3md) 0 var(--size-3md);
  }

  .sectionDivisorOne {
    display: flex;
    flex-direction: column;
    gap: var(--size-md);
    padding: 0 var(--size-3md) var(--size-xl) var(--size-3md);
  }

  .sectionDivisorTwo {
    padding: var(--size-xl) 0px var(--size-xl) 0px;
  }

  .sectionDivisorThree {
    padding: var(--size-xl) var(--size-3md) var(--size-xl) var(--size-3md);
  }

  .gradientArrow {
    width: 9.55rem;
    height: 9rem;
    margin-bottom: 2rem;
  }

  div#light > section.sectionDivisorOne {
    background-color: var(--background-light-primary);
  }

  div#dark > section.sectionDivisorOne {
    background-color: var(--background-dark-primary);
  }

  div#light > section.sectionDivisorTwo {
    background-color: var(--background-light-secondary);
  }

  div#dark > section.sectionDivisorTwo {
    background-color: var(--background-dark-secondary);
  }

  div#light > section.sectionDivisorThree {
    background-color: var(--background-light-quarternary);
  }

  div#dark > section.sectionDivisorThree {
    background-color: var(--background-dark-quarternary);
  }
}
