.input {
  width: 100%;
  height: var(--size-2lg, 48px);
  padding: 0 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--size-sm);
  border-radius: var(--size-xs, 12px);
  border: 1.4px solid var(--placeholder);
}

.input::placeholder {
  font-size: var(--size-sm);
}

.inputContainer#light {
  background: var(--input-light-default-background);
}

.inputContainer#dark {
  background: var(--input-dark-default-background);
}

.inputContainer#light>.input {
  color: var(--primary-light-text);
}

.inputContainer#dark>.input {
  color: var(--primary-dark-text);
}