footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 16.25rem;
  padding: 2rem;
}

.contentFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoVertLight {
  width: 8.7rem;
  margin-bottom: 1.5rem;
}

.linkActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-size: var(--text-sm);
  color: #484848;
}