footer {
	display: flex;
	align-items: center;
	justify-content: center;

	max-height: 16.25rem;
	padding: 2rem;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo-vert {
	height: 64px;
	margin-bottom: 1.5rem;
}

.actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	font-size: var(--size-sm);
}

#light {
	background: var(--color-neutral-100);
	color: var(--color-neutral-600);
}

#dark {
	background: var(--color-neutral-800);
	color: var(--color-neutral-300);
}

@media (width > 830px) {
	.actions {
		flex-direction: row;
		gap: 2rem;
	}
}
